{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "plugins": [
    "flowtype",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "eol-last": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}